# Virtual environments
.venv/
env/

# System and IDE-specific files
.DS_Store
.idea/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Datasets
datasets/

# Large model files
models/voting_model.pkl
models/random_forest_model.pkl
models/extra_trees_model.pkl
.venv/
__pycache__/
.DS_Store
